<div class="card border-dark bg-dark gradient pt-0 px-0 rounded-0 shadow tableModal">
    <div class="card-header rounded-0">
        <div class="row">
            <div class="col-12">
                <h5 class="text-white">Assembly Search</h5>
            </div>
        </div>
    </div>
    <div class="card-body mt-3 pt-0 px-3">
        <form>
            <div class="form-row">
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0" id="inputGroup-sizing-sm">Small</span>
                        </div>
                        <input type="text" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0" id="inputGroup-sizing-sm">Small</span>
                        </div>
                        <input type="text" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0" id="inputGroup-sizing-sm">Small</span>
                        </div>
                        <input type="text" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0" id="inputGroup-sizing-sm">Small</span>
                        </div>
                        <input type="text" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0" id="inputGroup-sizing-sm">Small</span>
                        </div>
                        <input type="text" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0" id="inputGroup-sizing-sm">Small</span>
                        </div>
                        <input type="text" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0" id="inputGroup-sizing-sm">Small</span>
                        </div>
                        <input type="text" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-0" id="inputGroup-sizing-sm">Small</span>
                        </div>
                        <input type="text" class="form-control rounded-0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>