<div class="container">
    <div class="card pt-0 px-0 h-25 rounded-0 shadow">
        <div class="card-header px-5">
            <div class="row pt-3">
                <div class="col-3 px-0">
                    <h2>{{_part['partName']}}</h2>
                    <h4>{{_part['partNumber']}}</h4>
                </div>
                <div class="col-4"></div>
                <div class="col-5">
                    <div class="btn-group btn-group-sm float-right shadow-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light text-black-50 rounded-0" (click)="updatePart()">Update Part</button>
                        <button type="button" class="btn btn-light text-black-50 rounded-0" routerLink="/create/part">Create Part</button>
                        <button type="button" class="btn btn-light text-black-50 rounded-0" (click)="deletePart()">Delete Part</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-3 px-5">
            <div class="row pt-3 px-4">
                <div class="col-4 pl-0">
                    <img class="shadow" src="../../assets/images/HTC82105A08R.jpeg" alt="ballPeenHamerImage">
                </div>
                <div class="col-8">
                    <form [formGroup]="partForm">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text rounded-0 w-100">Part Name</label>
                                        </div>
                                        <input formControlName="partName" type="text" class="form-control rounded-0" id="partName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text rounded-0 w-100">Part Number</label>
                                        </div>
                                        <input formControlName="partNumber" type="text" class="form-control rounded-0" id="partNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Category</label>
                                        </div>
                                        <input formControlName="category" type="text" class="form-control rounded-0" id="partCategory">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Sub-Category</label>
                                        </div>
                                        <input formControlName="subCategory" type="text" class="form-control rounded-0" id="partSubCategory">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Finish</label>
                                        </div>
                                        <input formControlName="finish" type="text" class="form-control rounded-0" id="partFinish">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Material</label>
                                        </div>
                                        <input formControlName="material" type="text" class="form-control rounded-0" id="partMaterial">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text rounded-0 w-100">UoM</label>
                                        </div>
                                        <input formControlName="uom" type="text" class="form-control rounded-0" id="partUom">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Unit Cost</label>
                                        </div>
                                        <input formControlName="unitCost" type="text" class="form-control rounded-0" id="partUnitCost">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Unit Price</label>
                                        </div>
                                        <input formControlName="unitPrice" type="text" class="form-control rounded-0" id="partUnitPrice">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Date Created</label>
                                        </div>
                                        <input formControlName="dateCreated" type="text" class="form-control rounded-0" id="partDateCreated">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Date Updated</label>
                                        </div>
                                        <input formControlName="dateUpdated" type="text" class="form-control rounded-0" id="partDateUpdated">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-3 px-3">
                <div class="col">
                    <div [formGroup]="partForm">
                        <div class="form-group mt-2">
                            <h5 class="pb-2">description:</h5>
                            <textarea formControlName="description" class="pr-2 w-100" style="border: none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
