<div class="container">
    <div class="row pt-3">
        <h2>{{_part['partName']}}</h2>
    </div>
    <div class="row pt-2">
        <h4>{{_part['partNumber']}}</h4>
    </div>
    <div class="row pt-3">
        <div class="col-4 pl-0">
            <img src="../../assets/images/2010-10-24 10.27.40.jpg" alt="hermanMillerImage">
            <div [formGroup]="partForm">
                <h5 class="pt-3 pb-2">description:</h5>
                <textarea formControlName="description" class="pr-2"></textarea>
            </div>
            <button class="btn btn-success rounded-0" (click)="updatePart()">Update Part</button>
            <button class="btn btn-danger rounded-0" (click)="deletePart()">Delete Part</button>
        </div>
        <div class="col-8">
            <form [formGroup]="partForm">
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Part Name</label>
                        </div>
                        <input formControlName="partName" type="text" class="form-control rounded-0" id="partName">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Part Number</label>
                        </div>
                        <input formControlName="partNumber" type="text" class="form-control rounded-0" id="partNumber">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Category</label>
                        </div>
                        <input formControlName="category" type="text" class="form-control rounded-0" id="partCategory">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Sub-Category</label>
                        </div>
                        <input formControlName="subCategory" type="text" class="form-control rounded-0" id="partSubCategory">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Finish</label>
                        </div>
                        <input formControlName="finish" type="text" class="form-control rounded-0" id="partFinish">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Material</label>
                        </div>
                        <input formControlName="material" type="text" class="form-control rounded-0" id="partMaterial">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Plating</label>
                        </div>
                        <input formControlName="plating" type="text" class="form-control rounded-0" id="partPlating">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">UoM</label>
                        </div>
                        <input formControlName="uom" type="text" class="form-control rounded-0" id="partUom">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Unit Cost</label>
                        </div>
                        <input formControlName="unitCost" type="text" class="form-control rounded-0" id="partUnitCost">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Unit Price</label>
                        </div>
                        <input formControlName="unitPrice" type="text" class="form-control rounded-0" id="partUnitPrice">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Date Created</label>
                        </div>
                        <input formControlName="dateCreated" type="text" class="form-control rounded-0" id="partDateCreated">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Date Updated</label>
                        </div>
                        <input formControlName="dateUpdated" type="text" class="form-control rounded-0" id="partDateUpdated">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
