<div class="container">
    <div class="row pt-3">
        <h2>{{_project['projectName']}}</h2>
    </div>
    <div class="row pt-2">
        <h4>{{_project['projectNumber']}}</h4>
    </div>
    <div class="row pt-3">
        <div class="col-4 pl-0">
            <div [formGroup]="projectForm">
                <h5 class="pt-3 pb-2">description:</h5>
                <textarea formControlName="description" class="pr-2"></textarea>
            </div>
            <button class="btn btn-success rounded-0" (click)="updateProject()">Update Project</button>
            <button class="btn btn-danger rounded-0" (click)="deleteProject()">Delete Project</button>
        </div>
        <div class="col-8">
            <form [formGroup]="projectForm">
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Project Name</label>
                        </div>
                        <input formControlName="projectName" type="text" class="form-control rounded-0" id="projectName">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Project Number</label>
                        </div>
                        <input formControlName="projectNumber" type="text" class="form-control rounded-0" id="projectNumber">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Category</label>
                        </div>
                        <input formControlName="category" type="text" class="form-control rounded-0" id="projectCategory">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Sub-Category</label>
                        </div>
                        <input formControlName="subCategory" type="text" class="form-control rounded-0" id="projectSubCategory">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group" formGroupName="parts">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Parts</label>
                        </div>
                        <input formControlName="partName" type="text" class="form-control rounded-0" id="projectParts">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group" formGroupName="subassemblies">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Subassemblies</label>
                        </div>
                        <input formControlName="subassemblyName" type="text" class="form-control rounded-0" id="projectSubassemblies">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group" formGroupName="assemblies">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Assemblies</label>
                        </div>
                        <input formControlName="assemblyName" type="text" class="form-control rounded-0" id="projectAssemblies">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Project Cost</label>
                        </div>
                        <input formControlName="projectCost" type="text" class="form-control rounded-0" id="projectProjectCost">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Project Price</label>
                        </div>
                        <input formControlName="projectPrice" type="text" class="form-control rounded-0" id="projectProjectPrice">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Date Created</label>
                        </div>
                        <input formControlName="dateCreated" type="text" class="form-control rounded-0" id="projectDateCreated">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Date Updated</label>
                        </div>
                        <input formControlName="dateUpdated" type="text" class="form-control rounded-0" id="projectDateUpdated">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
