<div class="container">
    <div class="row pt-3">
        <h2>{{_project['projectName']}}</h2>
    </div>
    <div class="row pt-2">
        <h4>{{_project['projectNumber']}}</h4>
    </div>
    <div class="row pt-3">
        <div class="col-4 pl-0">
            <div [formGroup]="projectForm">
                <h5 class="pt-3 pb-2">description:</h5>
                <textarea formControlName="description" class="pr-2"></textarea>
            </div>
            <button class="btn btn-success rounded-0" (click)="updateProject()">Update Project</button>
            <button class="btn btn-danger rounded-0" (click)="deleteProject()">Delete Project</button>
        </div>
        <div class="col-8">
            <form [formGroup]="projectForm">
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Project Name</label>
                        </div>
                        <input formControlName="projectName" type="text" class="form-control rounded-0" id="projectName">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">project Number</label>
                        </div>
                        <input formControlName="projectNumber" type="text" class="form-control rounded-0" id="projectNumber">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Category</label>
                        </div>
                        <input formControlName="category" type="text" class="form-control rounded-0" id="projectCategory">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Sub-Category</label>
                        </div>
                        <input formControlName="subCategory" type="text" class="form-control rounded-0" id="projectSubCategory">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">UoM</label>
                        </div>
                        <input formControlName="uom" type="text" class="form-control rounded-0" id="projectUom">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Unit Cost</label>
                        </div>
                        <input formControlName="unitCost" type="text" class="form-control rounded-0" id="projectUnitCost">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Unit Price</label>
                        </div>
                        <input formControlName="unitPrice" type="text" class="form-control rounded-0" id="projectUnitPrice">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Date Created</label>
                        </div>
                        <input formControlName="dateCreated" type="text" class="form-control rounded-0" id="projectDateCreated">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0 w-100">Date Updated</label>
                        </div>
                        <input formControlName="dateUpdated" type="text" class="form-control rounded-0" id="projectDateUpdated">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
