<nav class="float-right">
    <div class="row">
        <div class="col-12">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/project">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/assembly">Assembly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/subassembly">SubAssembly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/part">Part</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Purchasing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vendor/Supplier</a>
                </li>
            </ul>
        </div>
    </div>    
</nav>