<nav>
    <div class="row pr-4">
        <div class="col-12">
            <h6 class="nav-link text-white-50" routerLink="/">Dashboard</h6>
        </div>
    </div>
    <div class="row pr-4">
        <div class="col-10">
            <h6 class="nav-link text-white-50" routerLink="/project">Projects</h6>
        </div>
        <div class="col-2">
            <span class="badge badge-light">{{this.totalProjects}}</span>
        </div>
    </div>
    <div class="row pr-4">
        <div class="col-10">
            <h6 class="nav-link text-white-50" routerLink="/inventory/assembly">Assemblies</h6>
        </div>
        <div class="col-2">
            <span class="badge badge-light">{{this.totalAssemblies}}</span>
        </div>
    </div>
    <div class="row pr-4">
        <div class="col-10">
            <h6 class="nav-link text-white-50" routerLink="/inventory/subassembly">Subassemblies</h6>
        </div>
        <div class="col-2">
            <span class="badge badge-light">{{this.totalSubassemblies}}</span>
        </div>
    </div>
    <div class="row pr-4">
        <div class="col-10">
            <h6 class="nav-link text-white-50" routerLink="/inventory/part">Parts</h6>
        </div>
        <div class="col-2">
            <span class="badge badge-light">{{this.totalParts}}</span>
        </div>
    </div>
</nav>