<nav>
    <div class="row pr-4">
        <div class="col-12">
            <h6 class="nav-link text-white-50" routerLink="/">Company Overview</h6>
        </div>
    </div>

    <div class="row pr-4">
        <div class="col-10">
            <h6 class="nav-link text-white-50" id="projectsPricingDropDown" (click)="projectsCollapse = !projectsCollapse">Projects</h6>
        </div>
        <div class="col-2 text-white-50">
            <fa-icon *ngIf="projectsCollapse" icon="chevron-left" size="lg"></fa-icon>
            <fa-icon *ngIf="!projectsCollapse" icon="chevron-down" size="lg"></fa-icon>
        </div>
    </div>
    <div [ngbCollapse]="projectsCollapse">
        <div class="row">
            <div class="col-10 px-5">
                <small class="nav-link text-white-50" routerLink="/project">Projects</small>
            </div>
            <div class="col-2">
                <span class="badge badge-light">{{this.totalProjects}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-5">
                <small class="nav-link text-white-50" routerLink="/pricing">Pricing</small>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-5">
                <small class="nav-link text-white-50" routerLink="/revisioncontrol">Revision Control</small>
            </div>
        </div>
    </div>

    <div class="row pr-4">
        <div class="col-10">
            <h6 class="nav-link text-white-50" id="inventoryDropDown" (click)="inventoryCollapse = !inventoryCollapse">Inventory</h6>
        </div>
        <div class="col-2 text-white-50">
            <fa-icon *ngIf="inventoryCollapse" icon="chevron-left" size="lg"></fa-icon>
            <fa-icon *ngIf="!inventoryCollapse" icon="chevron-down" size="lg"></fa-icon>
        </div>
    </div>
    <div [ngbCollapse]="inventoryCollapse">
        <div class="row">
            <div class="col-10 px-5">
                <small class="nav-link text-white-50" routerLink="/inventory/assembly">Assemblies</small>
            </div>
            <div class="col-2">
                <span class="badge badge-light">{{this.totalAssemblies}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-10 px-5">
                <small class="nav-link text-white-50" routerLink="/inventory/subassembly">Subassemblies</small>
            </div>
            <div class="col-2">
                <span class="badge badge-light">{{this.totalSubassemblies}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-10 px-5">
                <small class="nav-link text-white-50" routerLink="/inventory/part">Parts</small>
            </div>
            <div class="col-2">
                <span class="badge badge-light">{{this.totalParts}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-10 px-5">
                <small class="nav-link text-white-50" routerLink="/inventory/material">Materials</small>
            </div>
            <div class="col-2">
                <!-- TODO: THIS NEEDS TO BE UPDATED TO THE PROPER API -->
                <span class="badge badge-light">{{this.totalParts}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-10 px-5">
                <small class="nav-link text-white-50" routerLink="/inventory/finish">Finishes</small>
            </div>
            <div class="col-2">
                <!-- TODO: THIS NEEDS TO BE UPDATED TO THE PROPER API -->
                <span class="badge badge-light">{{this.totalParts}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-5">
                <small class="nav-link text-white-50" routerLink="/inventory/taxonomy">Taxonomy</small>
            </div>
        </div>
    </div>

    <div class="row pr-4">
        <div class="col-10">
            <h6 class="nav-link text-white-50" id="projectsPricingDropDown" (click)="sourcingCollapse = !sourcingCollapse">Sourcing</h6>
        </div>
        <div class="col-2 text-white-50">
            <fa-icon *ngIf="sourcingCollapse" icon="chevron-left" size="lg"></fa-icon>
            <fa-icon *ngIf="!sourcingCollapse" icon="chevron-down" size="lg"></fa-icon>
        </div>
    </div>

    <div [ngbCollapse]="sourcingCollapse">
        <div class="row">
            <div class="col-10 px-5">
                <small class="nav-link text-white-50" routerLink="/vendor">Vendors</small>
            </div>
            <div class="col-2">
                <span class="badge badge-light">{{this.totalProjects}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-10 px-5">
                <small class="nav-link text-white-50" routerLink="/customer">Customers</small>
            </div>
            <div class="col-2">
                <span class="badge badge-light">{{this.totalProjects}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-5">
                <small class="nav-link text-white-50" routerLink="/accounting">Accounting</small>
            </div>
        </div>
    </div>
    <div class="row pr-4">
        <div class="col-12">
            <h6 class="nav-link text-white-50">Production</h6>
        </div>
    </div>
    <div class="row pr-4">
        <div class="col-12">
            <h6 class="nav-link text-white-50" routerLink="/integration">Integration</h6>
        </div>
    </div>
</nav>