<div class="card border-dark bg-dark gradient pt-0 px-0 rounded-0 shadow tableModal" [ngStyle]="{'height': this.componentHeight}">
    <div class="card-header rounded-0">
        <div class="row">
            <div class="col-12">
              <ng-content select="#small-table-title"></ng-content>
            </div>
        </div>
    </div>
    <div class="card-body mt-3 pt-0 px-3">
        <div class="row mb-0">
            <div class="col pt-0">
                <table class="table table-sm mb-0 bg-white">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">No</th>
                        <ng-content select="#table-header-1"></ng-content>
                        <ng-content select="#table-header-2"></ng-content>
                      </tr>
                    </thead>
                    <tbody *ngFor="let d of data; let i = index">
                      <tr *ngIf="i<this.numberOfRows">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{d.header1}}</td>
                        <td>{{d.header2}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 mt-0 pr-3 pt-2">
                <button type="text" class="btn btn-success btn-sm mt-1 px-5 w-100 rounded-0"><fa-icon [icon]="['fas', 'expand-alt']" size="lg"></fa-icon>&nbsp;Expand</button>                
            </div>
        </div>
    </div>
</div>