<div class="container-fluid" style="background-color: #f4f4f4;">
    <div class="row bg-secondary px-5">
        <div class="col-4 py-3 px-5 text-white">
            <a href="/" id="titleLink"><h1>subasmbly</h1></a>
        </div>
        <div class="col-8">
            <ul class="nav float-right mt-3">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container pt-3">
        <div class="row">
            <div class="col-12 pb-3">
                <app-nav></app-nav>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>