<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 bg-dark pt-3 gradient">
            <div class="mb-3 pt-5 px-4">
                <a href="/" id="titleLink" class="text-white"><h1>subasmbly</h1></a>
            </div>
            <div class="pl-4 nav-bar">
                <app-nav></app-nav>
            </div>
        </div>
        <div class="col-xl-10 bg-dark gradient">
            <div class="row mb-4">
                <div class="col-12 mx-3 pr-5 border-bottom border-white">
                    <ul class="nav float-right mt-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#">profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>