.nav-bar {
    height: 100vh;
}

h1 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: lowercase;
}

.gradient {
    min-height: 100%;
    background-image: linear-gradient(#555, #777);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-color: #555;
}