extends layout

block content
  h1= pageHeader
  small &nbsp;#{pageHeader}
    table
      thead
        tr: th id
        tr: th name
      tbody
        tr
          td 1
          td Screw

    each location in locations