<div class="container">
    <div class="row pt-3">
        <h2>{{_part['partName']}}</h2>
    </div>
    <div class="row pt-2">
        <h4>{{_part['partNumber']}}</h4>
    </div>
    <div class="row pt-3">
        <div class="col-4 pl-0">
            <img src="../../assets/images/2010-10-24 10.27.40.jpg" alt="hermanMillerImage">
            <div>
                <h5 class="pt-3 pb-2">description:</h5>
                <p class="pr-2">Lorem ipsum dolor amet flexitarian cronut hoodie cold-pressed ethical street art. Freegan salvia stumptown hella seitan, literally listicle blue bottle polaroid everyday carry letterpress.</p>
            </div>
        </div>
        <div class="col-8">
            <form>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text rounded-0 w-100">Part Name</div>
                        </div>
                        <input type="text" class="form-control rounded-0" id="partName" placeholder="{{_part['partName']}}" value="{{_part['partName']}}">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text rounded-0 w-100">Part Number</div>
                        </div>
                        <input type="text" class="form-control rounded-0" id="partNumber" placeholder="{{_part['partNumber']}}" value="{{_part['partNumber']}}">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text rounded-0 w-100">Finish</div>
                        </div>
                        <input type="text" class="form-control rounded-0" id="partName" placeholder="{{_part['finish']}}" value="{{_part['finish']}}">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text rounded-0 w-100">Material</div>
                        </div>
                        <input type="text" class="form-control rounded-0" id="partNumber" placeholder="{{_part['material']}}" value="{{_part['material']}}">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text rounded-0 w-100">Manufacturer</div>
                        </div>
                        <input type="text" class="form-control rounded-0" id="partName" placeholder="{{_part['manufacturer']}}" value="{{_part['manufacturer']}}">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text rounded-0 w-100">Revision</div>
                        </div>
                        <input type="text" class="form-control rounded-0" id="partNumber" placeholder="{{_part['revision']}}" value="{{_part['revision']}}">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text rounded-0 w-100">Cost/Unit</div>
                        </div>
                        <input type="text" class="form-control rounded-0" id="partName" placeholder="{{_part['costPerUnit'] | currency}}" value="{{_part['costPerUnit'] | currency}}">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text rounded-0 w-100">Price/Unit</div>
                        </div>
                        <input type="text" class="form-control rounded-0" id="partNumber" placeholder="{{_part['pricePerUnit'] | currency}}" value="{{_part['pricePerUnit'] | currency}}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
