<div class="container">
    <div class="card pt-0 px-0 h-25 rounded-0 shadow">
        <div class="card-header px-5">
            <div class="row pt-3">
                <div class="col-3 px-0">
                    <h2>{{_assembly['assemblyName']}}</h2>
                    <h4>{{_assembly['assemblyNumber']}}</h4>
                </div>
                <div class="col-4"></div>
                <div class="col-5">
                    <div class="btn-group btn-group-sm float-right shadow-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light text-black-50 rounded-0" (click)="updateAssembly()">Update Assembly</button>
                        <button type="button" class="btn btn-light text-black-50 rounded-0" routerLink="/inventory/create/assembly">Create Assembly</button>
                        <button type="button" class="btn btn-light text-black-50 rounded-0" (click)="deleteAssembly()">Delete Assembly</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-3 px-5">
            <div class="row pt-3 px-4">
                <div class="col-4 pl-0">
                    <img class="shadow" src="../../assets/images/HTC82105A08R.jpeg" alt="ballPeenHamerImage">
                </div>
                <div class="col-8">
                    <form [formGroup]="assemblyForm">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text rounded-0 w-100">Assembly Name</label>
                                        </div>
                                        <input formControlName="assemblyName" type="text" class="form-control rounded-0" id="assemblyName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text rounded-0 w-100">Assembly Number</label>
                                        </div>
                                        <input formControlName="assemblyNumber" type="text" class="form-control rounded-0" id="assemblyNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Category</label>
                                        </div>
                                        <input formControlName="category" type="text" class="form-control rounded-0" id="assemblyCategory">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Sub-Category</label>
                                        </div>
                                        <input formControlName="subCategory" type="text" class="form-control rounded-0" id="assemblySubCategory">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let part of this._assembly['parts']; let i=index">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group mb-2 shadow-sm">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text rounded-0 w-100">Part {{i + 1}}</label>
                                            </div>
                                            <input type="text" class="form-control rounded-0" id="assemblyPartName{{i}}" value="{{part.partName}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let subassembly of this._assembly['subassemblies']; let i=index">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group mb-2 shadow-sm">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text rounded-0 w-100">Subassembly {{i + 1}}</label>
                                            </div>
                                            <input type="text" class="form-control rounded-0" id="assemblySubassemblyName{{i}}" value="{{subassembly.subassemblyName}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text rounded-0 w-100">UoM</label>
                                        </div>
                                        <input formControlName="uom" type="text" class="form-control rounded-0" id="assemblyUom">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Unit Cost</label>
                                        </div>
                                        <input formControlName="unitCost" type="text" class="form-control rounded-0" id="assemblyUnitCost">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Unit Price</label>
                                        </div>
                                        <input formControlName="unitPrice" type="text" class="form-control rounded-0" id="assemblyUnitPrice">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Date Created</label>
                                        </div>
                                        <input formControlName="dateCreated" type="text" class="form-control rounded-0" id="assemblyDateCreated">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-2 shadow-sm">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-prepend-short">
                                            <label class="input-group-text rounded-0 w-100">Date Updated</label>
                                        </div>
                                        <input formControlName="dateUpdated" type="text" class="form-control rounded-0" id="assemblyDateUpdated">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-3 px-3">
                <div class="col">
                    <div [formGroup]="assemblyForm">
                        <div class="form-group mt-2">
                            <h5 class="pb-2">description:</h5>
                            <textarea formControlName="description" class="pr-2 w-100" style="border: none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
