<div class="container mt-4">
    <div class="row"><h2 class="mb-3 ml-5">Dashboard</h2></div>

    <div class="row m-5">
        {{this.adafruitProducts | json}}
    </div>
    <div class="row mb-3">
        <div class="col-4 pl-0">
            <div class="card shadow" style="border-top-left-radius: 60px;">
                <div class="card-body p-5">
                    <h3 class="card-title">Parts</h3>
                    <table class="table table-borderless table-hover table-sm">
                        <thead></thead>
                        <tbody>
                            <tr *ngFor="let part of this.data" >
                                <td>{{part.partName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 pl-0">
            <div class="card shadow rounded-0">
                <div class="card-body p-5">
                    <h3 class="card-title">Parts</h3>
                    <table class="table table-borderless table-hover table-sm">
                        <thead></thead>
                        <tbody>
                            <tr *ngFor="let part of this.data" >
                                <td>{{part.partName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 pl-0">
            <div class="card shadow" style="border-top-right-radius: 60px;">
                <div class="card-body p-5">
                    <h3 class="card-title">Parts</h3>
                    <table class="table table-borderless table-hover table-sm">
                        <thead></thead>
                        <tbody>
                            <tr *ngFor="let part of this.data" >
                                <td>{{part.partName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mb-5 pl-0">
            <div class="card shadow" style="border-bottom-left-radius: 60px;">
                <div class="card-body p-5">
                    <h3 class="card-title">Parts</h3>
                    <table class="table table-borderless table-hover table-sm">
                        <thead></thead>
                        <tbody>
                            <tr *ngFor="let part of this.data" >
                                <td>{{part.partName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5 pl-0">
            <div class="card shadow rounded-0">
                <div class="card-body p-5">
                    <h3 class="card-title">Parts</h3>
                    <table class="table table-borderless table-hover table-sm">
                        <thead></thead>
                        <tbody>
                            <tr *ngFor="let part of this.data" >
                                <td>{{part.partName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5 pl-0">
            <div class="card shadow" style="border-bottom-right-radius: 60px;">
                <div class="card-body p-5">
                    <h3 class="card-title">Parts</h3>
                    <table class="table table-borderless table-hover table-sm">
                        <thead></thead>
                        <tbody>
                            <tr *ngFor="let part of this.data" >
                                <td>{{part.partName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>