html {
    min-height: 100%;
    background-image: linear-gradient(#f4f4f4, #999);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-color: #f4f4f4;
}

body {
    background-color: transparent;
}

/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.modal-dialog {
    max-width: 1000px !important;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    background-color: lightgray;
}